name: Image Build & Push
on:
  workflow_dispatch:

jobs:
  build-push:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::364478544576:role/100DaysOfDevOps
          aws-region: ap-south-1

      - name: Login to ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name:  Build and Push 
        working-directory: app/
        env:
          IMAGE_TAG: ${{ github.sha }}
        run: | 
          docker build -t ${{ steps.login-ecr.outputs.registry }}/argo-app:$IMAGE_TAG .
          docker push ${{ steps.login-ecr.outputs.registry }}/argo-app:$IMAGE_TAG
