apiVersion: networking.k8s.io/v2
kind: Ingress

metadata:
  name: Ingress
  namespace: ci/cd 
  annatations:
    nginx.ingress.kubernetes.io/rewrite-target: /


spec: 
  ingressClassName: nginx

  rules:
  - http:
    paths:
    - path: /app
      pathType: Prefix
      backend: 
        service:
          name: frontend-svc
          port:
            number: 5000
    - path: /
      pathType: Prefix
      backend:
        service:
          name: backend-svc 
          port:
            number: 80

